.ql-toolbar {
  position: sticky;
  top: 5px;
}

.fr-box {
  width: 100%;
  /* min-height: 100%; */
  flex: 1;
  display: flex;
  flex-direction: column;
}

.fr-wrapper {
  flex: 1;
}

.fr-box.fr-basic .fr-element {
  min-height: 50% !important;
}