name: Portfolio FrontEnd CI

on:
  push:
    branches: [ "production" ]
  pull_request:
    branches: [ "production" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.17.x]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npm run build

      - name: Deploy to GitHub Pages
        run: |
          git config --global user.name $user_name
          git config --global user.email $user_email
          git remote set-url origin https://${github_token}@github.com/${repository}
          npm run deploy
        env:
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
          github_token: ${{ secrets.ACTIONS_DEPLOY_ACCESS_TOKEN }}
          repository: ${{ github.repository }}

      - name: Set AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_STG_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_STG_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-1
      
      - name: Copy to S3
        run: aws s3 sync ./dist/. s3://stg-portfolio


      ## Notification
      - name: Job Succeed
        if: ${{ success() }}
        run: curl -s -d "Staging Portfolio Build and Deploy Success." -H "Title:Staging Portfolio Workflow" -H "Priority:high" $NTFY_SERVER
        env:
          NTFY_SERVER: ${{ vars.NTFY_SERVER }}
      - name: Job Failed
        if: ${{ failure() }}
        run: curl -s -d "Staging Portfolio Build and Deploy Failed." -H "Title:Staging Portfolio Workflow" -H "Priority:high" $NTFY_SERVER
        env:
          NTFY_SERVER: ${{ vars.NTFY_SERVER }}